#app{
    text-align: center;
}
#container{
    width: max-content;
    margin:auto;

}
.picture{
    border-radius: 4rem;
}
.male{
    border: blue 5px solid;
}
.female{
    border: pink 5px solid;
}
.but{
    cursor: pointer;
    background-color: rgb(136, 136, 133);
    color: aliceblue;
}
